<main class="container">
    <section class="grid">
        <div class="card chart-max">
            <table>
                <thead>
                    <tr>
                        <th>Último movimiento</th>
                        <th>Códigos</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Ubicación</th>
                        <th>Manual</th>
                    </tr>
                </thead>
                <tbody>
                    @for (p of table; track $index) {
                    <tr>
                        <td>{{ p.fechahora | date:'yyyy-MM-dd'}}</td>
                        <td [innerHTML]="p.codes | semicolonBreak"></td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.price | number: '1.0-2'}}</td>
                        <td>{{ p.warehouse }}</td>
                        <td class="col-manual">
                            <input type="number" name="mquantity{{$index}}" step="1" [(ngModel)]="p.mquantity">
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>

@if (uploading) {
    <div class="modal">
    <div class="modal-content">
        <img src="uploading.gif" alt="Subiendo..." style="height:48px;display:block;margin:auto;">
        <p>Subiendo archivo, por favor espera...</p>
    </div>
    </div>
}