<header class="hero">
  <h1>Registrar movimiento manual</h1>
  
  <table cellpadding="8" cellspacing="0" style="width:100%; border-collapse:collapse">
    <thead>
        <tr>
            <th>Último movimiento</th>
            <th>Códigos</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Ubicación</th>
            <th>Manual</th>
        </tr>
    </thead>

    <tbody>
        @for (p of table; track p) {
        <tr>
            <td>{{ p.fechahora | date:'yyyy-MM-dd'}}</td>
            <td [innerHTML]="p.codes | semicolonBreak"></td>
            <td>{{ p.name }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.price | number: '1.0-2'}}</td>
            <td>{{ p.warehouse }}</td>
            <td class="div-left">
                <input type="number" name="mquantity" id="mquantity" step="1" [(ngModel)]="p.mquantity">
            </td>
        </tr>
        }
    </tbody>
  </table>
  <button (click)="save()">Guardar</button>
</header>

@if (uploading) {
    <div class="modal">
    <div class="modal-content">
        <img src="uploading.gif" alt="Subiendo..." style="height:48px;display:block;margin:auto;">
        <p>Subiendo archivo, por favor espera...</p>
    </div>
    </div>
}