<div class="formulario">
  <h1>Identificador: {{ id }}</h1>
  @if (product) {
    <form (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
      <!--<div>
        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" [(ngModel)]="product.sku" />
      </div>-->
      @for (tmp of product.code; let i = $index; track tmp) {
        <div class="autocomplete-row">
          @if (i===0) {
            <label>Códigos:</label>
          } @else {
            <label>&nbsp;</label>
          }
          <input type="text" name="code{{i}}" [(ngModel)]="tmp.code" />
          @if (i===0) {
            <button type="button" class="circle-btn" (click)="addCode()">+</button>
          }
        </div>
      }
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="product.name" />
      </div>
      <div>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" [(ngModel)]="product.price" />
      </div>
      <div>
        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" [(ngModel)]="product.category" />
      </div>
      <div style="display: flex; gap: 1rem; margin-top: 1rem;">
        <button type="submit">Guardar</button>
        <button type="button" class="cancelar" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  }
</div>

@if (uploading) {
    <div class="modal">
    <div class="modal-content">
      <img src="uploading.gif" alt="Subiendo..." style="height:48px;display:block;margin:auto;">
    </div>
    </div>
}

@if (mensajeError !== '') {
    <div class="modal">
    <div class="modal-content">
      <h3>Error</h3>
      <p [innerHTML]="mensajeError"></p>
      <br/>
      <button type="button" class="cancelar" (click)="closeError()">Cerrar</button>
    </div>
    </div>
}